<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Meu App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h1>Navegação</h1>
  <ion-button (click)="acao()">Botão</ion-button>
  <ion-button (click)="acao()">Lista</ion-button>
  <!--
  Data binding (ligação de dados)
  <H1>{{ titulo  }}</H1>
  <h4>Event biding</h4>
  <ion-item>
    <ion-label position="floating">Seu nome:</ion-label>
    <ion-input (input)="atualiza"></ion-input>
  </ion-item>

  <h4>Property biding</h4>
  <ion-img [src]="imagemRan"></ion-img>

  <h4>String interpolation</h4>
  

  <ion-img src="{{ imagemRan }}"></ion-img>

  
  <h4>Grid</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">Conteúdo 1</ion-col>
      <ion-col size="3">Conteúdo 2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid offset</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6">Conteúdo 1</ion-col>
      <ion-col size="3" offset="3">Conteúdo 2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid alinhamento de texto(ion-text-start, ion-text-end, ion-text-center)</h4>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start" size="4">Conteúdo 1</ion-col>
      <ion-col class="ion-text-center" size="4">Conteúdo 2</ion-col>
      <ion-col class="ion-text-end" size="4">Conteúdo 3</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid alinhamento vertical</h4>
  <ion-grid>
    <ion-row class="ion-align-items-start" >
      <ion-col size="4">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
      <ion-col size="4">Conteúdo 3 <br>+<br>+ </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center" >
      <ion-col size="4">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
      <ion-col size="4">Conteúdo 3 <br>+<br>+ </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-end" >
      <ion-col size="4">Conteúdo 1</ion-col>
      <ion-col size="4">Conteúdo 2</ion-col>
      <ion-col size="4">Conteúdo 3 <br>+<br>+ </ion-col>
    </ion-row>
  </ion-grid>

  
  <h4>Entrada de dados(floating, fixed e stacked)</h4>
  <ion-item>
    <ion-label position="floating">Seu nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h4>Entrada de dados(value, placeholder, clearinput)</h4>
  <ion-item>
    <ion-input clearInput placeholder="Digite seu nome"></ion-input>
  </ion-item>

  <h4>Tipos de entrada de dados(text, number, password, email, tel, url, search)</h4>

  Muda o tipo de teclado
  <ion-item>
    <ion-label>Texto:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Número:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone:</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Url:</ion-label>
    <ion-input type="url"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Search:</ion-label>
    <ion-input type="search"></ion-input>
  </ion-item>

 
  <h4>Listas</h4>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>1.Lorem ipsum dolor sit amet consectetur</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>2.Lorem ipsum dolor sit amet consectetur</ion-label>
    </ion-item>
  </ion-list>

  <h4>Listas avatar</h4>
  <ion-list>
    <ion-item href="#">
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/200x2 00"></ion-img>
      </ion-avatar>
      <ion-label>Matheus Hora</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-avatar slot="start">
        <ion-img src="https://source.unsplash.com/200x2 00"></ion-img>
      </ion-avatar>
      <ion-label>Lucas</ion-label>
    </ion-item>
  </ion-list>

  <h4>Lista slide</h4>
  <ion-list>
    <ion-item-sliding>

      <ion-item>
        <ion-label>Matheus Hora</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="start" name="create"></ion-icon>
          Alterar
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <h4>Cartões</h4>
   ios
  <ion-card color="danger" mode="ios">
    <ion-img src="https://source.unsplash.com/800x800"></ion-img>
      <!-- Conteudo
      <ion-card-content>
        <ion-card-title>
          Lorem ipsum dolor sit amet.
        </ion-card-title>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, saepe.
          Magnam molestias nostrum velit in excepturi, aliquid vel dolores
          reiciendis illum enim laboriosam ducimus, odio et numquam quaerat quam
          quo.
        </p>
      </ion-card-content>
  </ion-card>

  <!-- android 
  <ion-card color="danger" mode="md">
    <ion-img src="https://source.unsplash.com/800x800"></ion-img>
      <!-- Conteudo 
      <ion-card-content>
        <ion-card-title>
          Lorem ipsum dolor sit amet.
        </ion-card-title>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, saepe.
          Magnam molestias nostrum velit in excepturi, aliquid vel dolores
          reiciendis illum enim laboriosam ducimus, odio et numquam quaerat quam
          quo.
        </p>
      </ion-card-content>
  </ion-card>

  <h4>Cartões com cabeçalho</h4>
  <ion-card color="danger">
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>
            Lorem ipsum dolor sit amet.
          </ion-card-title>
          <ion-card-subtitle>
            Lorem ipsum dolor sit amet.
          </ion-card-subtitle>
        </ion-card-header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, saepe.
          Magnam molestias nostrum velit in excepturi, aliquid vel dolores
          reiciendis illum enim laboriosam ducimus, odio et numquam quaerat quam
          quo.
        </p>
      </ion-card-content>
  </ion-card>

  <h4>Cartão com listagem de itens</h4>
  <ion-card>
    <ion-item href="http://google.com.br">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>1.Lorem ipsum dolor sit amet consectetur</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-label>2.Lorem ipsum dolor sit amet consectetur</ion-label>
    </ion-item>
  </ion-card>
  <!-- <h1>Butões</h1>
  <ion-button>
    Padrão
  </ion-button>

  <ion-button href="https://github.com/Matheus-hora48">
    Botão com link
  </ion-button>

  <h4>Cores</h4>
  <ion-button color="primary">
    Primary
  </ion-button>
  <ion-button color="secondary">
    Secondary
  </ion-button>
  <ion-button color="tertiary">
    Tertiary
  </ion-button>
  <ion-button color="success">
    Success
  </ion-button>
  <ion-button color="warning">
    Warning
  </ion-button>
  <ion-button color="danger">
    Danger
  </ion-button>
  <ion-button color="light">
    Light
  </ion-button>
  <ion-button color="medium">
    Medium
  </ion-button>
  <ion-button color="dark">
    Dark
  </ion-button>


  <h4>Expandidos</h4>

  Espaço completo
  <ion-button expand="full">
    Full
  </ion-button>

  Espaço completo arredondado
  <ion-button expand="block">
    Block
  </ion-button>


  <h4>Arredondado</h4>
  <ion-button shape="round">
    Arredondado
  </ion-button>

  <h4>Preenchimento</h4>
  <ion-button fill="outline">
    Preenchimento
  </ion-button>

  <h4>Icones</h4>
  <ion-button>
    <ion-icon slot="end" name="star"></ion-icon>
    Icones
  </ion-button><br>

  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button><br>

  <h4>Tamanhos de butões</h4>
  <ion-button size="large">
    Large
  </ion-button>
  <ion-button>
    Padrão
  </ion-button>
  <ion-button size="small">
    Small
  </ion-button>-->
</ion-content>
